<!DOCTYPE html>
<html>
  <head>
    <title>Insurance Premium Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    
    <h1>Insurance Premium Prediction</h1>
    
    <div class="form-box">
    <form action="{{url_for('predict_datapoint')}}" method="POST">
        
        <div class="form-group">
            <label for="Age">Age:</label>
            <input type="text" id="Age" name="Age" placeholder="Enter Age value (int)">
        </div>

        <div class="form-group">
            <label for="Diabetes">Diabetes:</label>
            <select id="Diabetes" name="Diabetes">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="BloodPressureProblems">BloodPressureProblems:</label>
            <select id="BloodPressureProblems" name="BloodPressureProblems">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="AnyTransplants">AnyTransplants:</label>
            <select id="AnyTransplants" name="AnyTransplants">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="AnyChronicDiseases">AnyChronicDiseases:</label>
            <select id="AnyChronicDiseases" name="AnyChronicDiseases">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Height">Height:</label>
            <input type="text" id="Height" name="Height" placeholder="Enter Height value (float)">
        </div>

        <div class="form-group">
            <label for="Weight">Weight:</label>
            <input type="text" id="Weight" name="Weight" placeholder="Enter Weight value (float)">
        </div>

        <div class="form-group">
            <label for="KnownAllergies">KnownAllergies:</label>
            <select id="KnownAllergies" name="KnownAllergies">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="HistoryOfCancerInFamily">HistoryOfCancerInFamily:</label>
            <select id="HistoryOfCancerInFamily" name="HistoryOfCancerInFamily">
              <option value=0>0</option>
              <option value=1>1</option>
            </select>
        </div>

        <div class="form-group">
            <label for="NumberOfMajorSurgeries">NumberOfMajorSurgeries:</label>
            <select id="NumberOfMajorSurgeries" name="NumberOfMajorSurgeries">
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
            </select>
        </div>
    
    <div style="clear:both;"></div>
      <input type="submit" value="Submit">
    </form>
    </div>
    <div>      
    <h2>
        Insurance Premium Prediction is : {{ results }}
    </h2>
  </body>
</html>